@model List<NewsFeedApplication.Common.News>
<table class="table" id="tblBooks">
	<thead>
		<tr class="wow fadeInUp">
            <th scope="col">News Title</th>
            <th scope="col">News Details</th>
			<th scope="col">Publish Date</th>
			<th scope="col">Author</th>
			<th scope="col">Image</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
        <tr>
            <td>@item.NewsTitle</td>
            <td>@item.NewsDetails</td>
            <td>@item.NewsPublishDate</td>
            <td>@item.NewsAuthor</td>
            <td> <img src="@item.NewsBigImageUrl" alt="NewsImage" /> </td>
           
        </tr>
		}
	</tbody>
</table>
