@model NewsFeedApp.Models.RssFeed

<li class="list-group-item" data-bs-toggle="modal" data-bs-target="#newsModal">
    <img src="@Model.Image" alt="img1" class="me-2" />
    <div class="news-detail">
        <h5>@Model.Heading</h5>
        <p class="mb-1">@Model.Description </p>
        <div class="meta"><small class="d-inline-block me-2">  Created on @Model.PublishDate </small><small> by @Model.Author </small></div>
    </div>
</li>
